.quiz-container{
  margin-top: 10%;
  margin-left: 40%;
  width: 20%;
}

.textFields{
  margin-top: 20px;
}
.questions{
  margin-bottom: 20px;
  text-align: center;
}

.hint{
  text-align: center;
  margin-top: 10px;
  text-decoration: underline;
  color: blue;
  font-size: 18px;
}

.num{
  width:30px;
  text-align: center;
  margin-left: 140px;
  margin-bottom: 10px;
  color:white;
  background: blue;
  border:1px solid blue;
  border-radius: 100%;
}

.next-prev-cont{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.next-prev{
  text-decoration: none;
  color:black;
  cursor: pointer;
  font-size: 18px;
}

@media screen and (max-width: 500px){
  
  .quiz-container{
    margin-left: 25%;
    width: 50%;
  }
    
  .num{
    width:30px;
    text-align: center;
    margin-left: 90px;
  }
  

  

}