.quiz-container{
    text-align: center;

}
.quiz-container {
    max-width: 500px;
    min-width: 250px;
    background: linear-gradient(90.04deg, #a5a3c7 0.03%, #0355d9 99.96%);
    border-radius: 4px;
    margin-top: 10%;
    padding: 30px 60px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .quiz-container button {
    background: linear-gradient(90.04deg, #1208c8 0.03%, #5395fe 99.96%);
    border-radius: 9px;
    font-size: 18px;
    color: #ffffff;
    padding: 10px 42px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 15px;
  }
.num{
  color: #ffffff;
  background: #1b3cfa;
  padding: 25px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  max-width: 10px;
  max-height: 10px;
  margin-left: auto;
  margin-right: auto;
}