.cont-museums{
    display: flex;
    flex-direction: row;
    background-color: blue;
    height:100%;
    width: 100%;
    position: absolute;
    color: blue;
}

.cont-imges{
    color:blue;
    height:225px;
    width:301px;
    margin-left: 60px;
    transition-duration: 0.5s;
    margin-top: 100px;
}

.cont-imges:hover{
    height:300px;
    color: black;
}

@media screen and (max-width: 500px){

    .cont-museums{
        display: flex;
        flex-direction: column;
        height: 1300px;
    }
    .cont-imges{
        margin-left: 50px;
        margin-top: 50px;
    }

}