*{
    box-sizing: border-box;
}


.SignInForm{
    display: flex;
    flex-direction: column;
    width:385px;
    height: 350px;
    justify-content: center;
    margin-top:13%;
    margin-left: 35%;
    border-radius: 15px;
    background-color: azure;
    

}

.googleAuth{
    background-color: white;
    z-index: 3;
    position: absolute;
    top: 35%;
    left: 35%;
    width: 350px;
    height: 200px;
    display: flex;
    flex-direction: column;
    border:1px solid black;
}
.close{
    padding: 0px 335px;
    font-family: cursive;
    rotate:-1deg;
    cursor: pointer;
    text-decoration: none;
}
.sorry{
    font-size: 14px;
    align-self: center;
    margin-top: 50px;
}

.forError{
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    position: absolute;
    background:#dad2d2;
    opacity: 0.4;
    display: "";
    z-index: 2;
}

.showPassword{
    display: flex;
    flex-direction: row;
}
.google{
    width:30px;
    height:30px;
}
.googleSignIn{
    display: flex;
    flex-direction: row;
    width: 210px;
    border-radius: 30px;
    border: 1px solid black;
    padding: 6px;
    margin-left: 90px;
    margin-top: 40px;
    cursor: pointer;

}

.googleText{
    padding-left: 20px;
    padding-top: 5px;
}

.inputFields{
    width:250px;
    align-self: center;
    margin-top:30px;
    padding-left: 10px;
    border-radius: 10px;
    border:1px solid blue
}

.submitButton{
    align-self: center;
    margin-top:25px;
    margin-bottom: 0;
    text-decoration: none;
    border-radius: 10px;
    background-color: blue;
    width: 200px;
    height:30px;
    color: white;
    font-size: 16px;
    border:0px;
    text-align: center;
    cursor: pointer;
    padding-top: 5px;
    
}


.SignUp-Forget{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:15px 65px 0px 65px;
}

.forget-signup{
    text-decoration: none;
    font-size: 14px;
    color:black;
    transition-duration: 0.3s;
}
.forget-signup:hover{
    text-decoration: underline;
    font-size: 16px;
    color:blue
}



@media screen and (max-width: 450px) {

    *{
        font-size: 18px;
        margin-top:  0px;
        margin-left: 0px; 
    }   
    .SignInForm{
        margin-left: 4%;
        margin-top: 35%;
    }

    .check{
        height: 15px;
        width: 15px;
    }
    
}
