*{
    box-sizing: border-box;
}


.animate__bounceInRight{
    animation: backInRight;
    animation-duration: 1s;
   
}
.animate__bounceInLeft{
    animation: bounceInLeft;
    animation-duration: 1s;
    color:blue;
    margin-bottom: 20px;
    font-size: 26px;
    cursor:default;
    margin-left: 35px;
}
.goTo{
    color:white;
    text-decoration: none;
    margin-left: 10px;
}

.google{
    width:30px;
    height:30px;
}
.googleSignIn{
    display: flex;
    flex-direction: row;
    width: 210px;
    border-radius: 30px;
    border: 1px solid black;
    padding: 6px;
    margin-left: 90px;
    margin-top: 40px;
    cursor: pointer;

}

.googleText{
    padding-left: 20px;
    padding-top: 5px;
}

.welcome{
    margin-top: 0px;
    width:100%;
    height: 100%;
}

.animate__fadeIn{
    animation: fadeIn;
    animation-duration: 3s;
    width:200px;
    height: 200px;
}

.backDrop{
    margin-left: 1%;
}

@media screen and (max-width: 500px){
    .googleSignIn{
        margin-bottom: 3px;
        margin-left: 85px;
    }
    .googleText{
        font-size: 16px;
    }

    .animate__fadeIn{
        width:150px;
        height: 150px;
        margin-left: -5px;
    }

    .animate__bounceInLeft{
        margin-bottom: 10px;
        margin-left: 0px;
    }
    .goTo{
        margin-left:-25px;
    }
}
