*{
    box-sizing: border-box;
}




.welcome{
    top: 0px;
    z-index:2;
    width:100vw;
    height:100vh;
    padding-top: 200px;
    padding-left: 660px;
    position: absolute;
    background-color: black;
}
.animate__bounceInRight{
    animation: bounceInRight;
    animation-duration: 1s;
    color:white;
    text-decoration: none;
    margin-left: 55px;
}
.animate__bounceInDown{
    animation: bounceInLeft;
    animation-duration: 1s;
    color:blue;
    margin-bottom: 20px;
    font-size: 26px;
    cursor:default;
    margin-left: 20px;
}

.backTo{
    color:white;
    text-decoration: none;
    margin-left: -13px;
}